<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="desktop-rating-selection-film-item__upper-wrapper">
    <div class="desktop-rating-selection-film-item__meta-wrapper">
        <div class="selection-film-item-meta selection-film-item-meta_theme_desktop" data-tid="6cf86878">
            <a href="/film/435/" class="selection-film-item-meta__link">
                <p class="selection-film-item-meta__name">Зеленая миля</p>
                <p class="selection-film-item-meta__original-name">Green Mile, The, 1999</p>
                <p class="selection-film-item-meta__meta-additional">
                    <span class="selection-film-item-meta__meta-additional-item">США</span>
                    <span class="selection-film-item-meta__meta-additional-item">фэнтези, драма</span>
                </p>
            </a>
        </div>
    </div>
    <div class="desktop-rating-selection-film-item__user-wrapper">
        <div class="film-item-user-data" data-tid="163b93b5">
            <span class="rating film-item-user-data__rating" data-tid="facad451">
                <span class="rating__value rating__value_positive" data-tid="59e7b831">8.9</span>
                <span class="rating__count" data-tid="59e7b831">702 861</span>
            </span>
            <div class="film-item-user-data__controls" data-tid="7a8e3340">
                <div class="watching-buttons film-item-user-data__watching" data-tid="73f52974">
                    <div class="ui-button-group watching-buttons__group" data-tid="218f4a8d">
                        <button class="ui-button ui-button_size_xs ui-button_kind_ghost watching-buttons__will-watch" kind="ghost" target="_self">
                            <svg width="14" height="14" viewbox="0 0 14 14">
                                <path fill="rgba(0, 0, 0, 0.6)" fill-rule="evenodd" d="M9.8 3.2H4.2v7.858l2.8-1.4 2.8 1.4V3.2zM3 2h8v11l-4-2-4 2V2z"></path>
                            </svg><span class="watching-buttons__will-watch-caption" data-tid="4c94c8b1">Буду смотреть</span></button>
                        <button class="ui-button ui-button_size_xs ui-button_kind_ghost watching-buttons__has-watched" kind="ghost" target="_self">
                            <svg width="14" height="14" viewbox="0 0 14 14">
                                <path fill="rgba(0, 0, 0, 0.6)" fill-rule="evenodd" d="M8.8 3.999A5.332 5.332 0 0 0 7 3.7c-.637 0-1.237.098-1.8.299V5.5a1.8 1.8 0 1 0 3.6 0V3.999zm1.2.618V5.5a3 3 0 1 1-6 0v-.883C3.215 5.16 2.511 5.95 1.879 7 3.23 9.244 4.91 10.3 7 10.3c2.089 0 3.77-1.056 5.121-3.3C11.49 5.95 10.785 5.16 10 4.617zM7 11.5C4.267 11.5 2.1 10 .5 7 2.1 4 4.267 2.5 7 2.5S11.9 4 13.5 7c-1.6 3-3.767 4.5-6.5 4.5z"></path>
                            </svg></button>
                    </div>
                </div>
                <div class="voting _1XTMsCDXW56L7Q9SG-Ey-O film-item-user-data__voting" data-tid="4ef20ce5">
                    <button type="button" class="voting__closed j2aqWf0m2xZ-q5JycAJY7 Lv-7vgf7-ChVnEC1JOOP5" data-tid="95730449"><i class="voting__star _2Cf3Z9MPiPFAX15FEhq7b0 ZxDANlKc97N6iUTN-dh-q"></i></button>
                </div>
            </div>
            <div class="film-item-context-menu film-item-user-data__context-menu" data-tid="ea119547">
                <div class="film-item-context-menu__button" data-tid="a15168b1"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>